.quotes-section{
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex:1;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    flex-direction: column;
    padding: 10px;
  
    
}

.quote{
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 1;
    



}

.author{
    font-size: 12px;
    color: grey;
    display: inline;
}

.paste{
    margin-top: -10px;
   display: block;
   text-align: right; 

}

.paste svg{
    width: 15px;
    height: 15px;
}

.paste svg:hover{
   cursor: pointer;
}
